/*
 Color reference:
 https://docs.obsidian.md/Reference/CSS+variables/Foundations/Colors
*/

.every-day-calendar.boxes {
    display: flex;
    flex-direction: row;
}

.every-day-calendar.column {
    display: flex;
    flex-direction: column;
}

.every-day-calendar.box {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    color: black;
    background-color: #FF00FF;
    border-radius: 25%;
    width: 10px;
    height: 10px;
    margin: 5px;
}

.every-day-calendar.box[value="0"] {
    background-color: var(--background-secondary);
}

.every-day-calendar.box[value="1"] {
    background-color: var(--background-modifier-border);
}

.every-day-calendar.box[value="2"] {
    background-color: var(--text-accent);
}

