/*
 Color reference:
 https://docs.obsidian.md/Reference/CSS+variables/Foundations/Colors
*/

/* to debug
.every-day-calendar {
    border: 1px solid var(--text-muted);
}*/

.every-day-calendar.boxes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    grid-auto-flow: dense;
    width: 30%;
}

.every-day-calendar.box {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #FF00FF;
    border-radius: 25%;
    aspect-ratio: 1;
}

/*
  This seems necessary since `attr(month <number>)` is not yet supported
  https://developer.mozilla.org/en-US/docs/Web/CSS/attr#browser_compatibility
*/
.every-day-calendar.box[month="1"] {
    grid-column: 1;
}

.every-day-calendar.box[month="2"] {
    grid-column: 2;
}

.every-day-calendar.box[month="3"] {
    grid-column: 3;
}

.every-day-calendar.box[month="4"] {
    grid-column: 4;
}

.every-day-calendar.box[month="5"] {
    grid-column: 5;
}

.every-day-calendar.box[month="6"] {
    grid-column: 6;
}

.every-day-calendar.box[month="7"] {
    grid-column: 7;
}

.every-day-calendar.box[month="8"] {
    grid-column: 8;
}

.every-day-calendar.box[month="9"] {
    grid-column: 9;
}

.every-day-calendar.box[month="10"] {
    grid-column: 10;
}

.every-day-calendar.box[month="11"] {
    grid-column: 11;
}

.every-day-calendar.box[month="12"] {
    grid-column: 12;
}

.every-day-calendar.box[value="0"] {
    background-color: var(--background-secondary);
}

.every-day-calendar.box[value="1"] {
    background-color: var(--background-modifier-border);
}

.every-day-calendar.box[value="2"] {
    background-color: var(--text-accent);
}

